body {
    background-color: #ffffff;
    font-family:Cambria, Cochin, Georgia, Montserrat, sans-serif;
    line-height: 1.6;
    color: #F2F2F0;
}
.container {
    width: 800px;
    margin: 0 auto;
    background-color: #191E26;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
h1 {
    color: #D9B777;
}
h2 {
    color: #F2F2F0;
    border-bottom: 2px solid #D9B777;
    padding-bottom: 5px;
}
header {
    text-align: center;
    margin-bottom: 20px;
}
header img {
    width: 300px;
    height: 200px;
    border-radius:;
    border: 4px solid #D9B777;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
footer {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid #D9B777;
    font-size: 0.9em;
    color: #D9B777;
}
footer a {
    color: #D9B777;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border-bottom: 1px solid #D9B777;
    padding: 12px 15px;
    text-align: left;
}
thead th {
    background-color: #F2F2F0;
    color: #191E26;
    font-weight: bold;
}
tbody tr:hover {
    background-color: #f8f8f8
}
.hidden {
    display: none;
}