body {
    background-color: #ead6f3;
    font-family:Cambria, Cochin, Georgia, Montserrat, sans-serif;
    line-height: 1.6;
}
.container {
    width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
h1 {
    color: #333;
}
h2 {
    color: #005a9c;
    border-bottom: 2px solid #f0f4f8;
    padding-bottom: 5px;
}
header {
    text-align: center;
    margin-bottom: 20px;
}
header img {
    width: 150px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
footer {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid #f0f4f8;
    font-size: 0.9em;
    color: #777;
}
footer a {
    color: #005a9c;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border-bottom: 1px solid #f0f4f8;
    padding: 12px 15px;
    text-align: left;
}
thead th {
    background-color: #f0f4f8;
    color: #005a9c;
    font-weight: bold;
}
tbody tr:hover {
    background-color: #f8f8f8
}